<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:powderblue; ">
    
    <h1>Predict Fuel Efficiency of various kind of vechile</h1>
    <form action="/prediction" method="POST">
        cylinders<br>
        <input type="text" name="name1"><br>
        Displacement<br>
        <input type =" text" name="name2"><br>
        Horsepower<br>
        <input type =" text" name="name3"><br>
        Weight<br>
        <input type =" text" name="name4"><br>
        Acceleration<br>
        <input type =" text" name="name5"><br>
        Model year<br>
        <input type =" text" name="name6"><br>
        Origin <br>
        <input type =" text" name="name7"><br>
        Car<br>
        <input type =" text" name="name8"><br>
        <br>
        <input type ="submit">
    </form>
</body>
</html>
